{% extends "base.html" %}
{% load static %}


{% block title %}Форма объявления{% endblock %}
{% block style%}
  <link rel="stylesheet" href="{% static 'ads/styles.css' %}">
  <link rel="stylesheet" href="{% static 'ads/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'ads/item-form.css' %}">
{% endblock %}


    <!-- Main content will be displayed here -->
    {% block content %}
    <main id="main-content">
      <div class="item-form-container">
        <div class="back-link">
          <a href="index.html">&larr; Вернутся на главную</a>
        </div>
        
        <div class="form-card">
          <h2 id="form-title">Создать новое объявление</h2>
          
          <form method="post" id="item-form">
            {% csrf_token %}
            <div class="form-group">
              <label for="item-title">Название</label>
              {{form.title}}
              <div class="error-message" id="title-error"></div>
            </div>
            
            <div class="form-group">
              <label for="item-description">Описание</label>
              {{form.description}}
              <div class="error-message" id="description-error"></div>
            </div>
            
            <div class="form-group">
              <label for="item-image">Ссылка на фото</label>
              {{form.image_url}}
              <div class="error-message" id="image-error"></div>
            </div>
            
            <div class="form-row">
              <div class="form-group half">
                <label for="item-category">Категория</label>
                {{form.category}}
                <div class="error-message" id="category-error"></div>
              </div>
              
              <div class="form-group half">
                <label for="item-condition">Состояние</label>
                {{form.condition}}
                <div class="error-message" id="condition-error"></div>
              </div>
            </div>
            
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Сохранить</button>
              <a href="{% url 'index' %}" class="btn btn-secondary">Назад</a>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2025 Бартир - Платформа обмена предметами</p>
    </footer>
 {%endblock%}